* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

#reader.active button {
  display: block;
}

.file-upload {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 20px;

  background-color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 40px;
}

.link a {
  color: #333;
  border: 2px solid #cecece;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 2rem;
}

.header p {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 10px;
}

.header {
  width: 600px;
}

h1 {
  font-size: 5rem;
  text-align: center;
  padding: 5px;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 40px;
}

p {
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

.buttons {
  padding: 10px;
  margin-top: 5rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 12px;
  width: 20rem;
  height: 4rem;
}

button:nth-child(1) {
  background-color: #008000;
}

button:nth-child(1):hover {
  background-color: #0ed60e;
}

#reader {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

#status {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

button.scanning {
  background-color: #ff1c1c;
}

#result {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.input {
  width: 100%;
}

.input label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.input input {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formContent button {
  background-color: #008000;
  color: white;
  border: none;
  margin: 12px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 4px;
}